.img{
  width: 150px;
  height: 3
  50px;
}
.listUsers{
  display: flex;
  width: 100% ;
  justify-content: center;
 
}
.listUserContainer{
  width: 50%;
display: flex;
flex-wrap:wrap ;
justify-content: center;
}
.listTitle{
  text-align: center;
  color: blue;
}
button{
  color:black;
  background:#18BDCF
  ;
  font-weight: bold;
  border-radius: 5px;

}
.userName{
  color:black;
  font-size: large;
  font-weight: bold;
  position: relative;
  right:20px
 
}
.userCard{
  padding: 20px;
}
.postContainer{
  background-color: #B7E0F4;
}